{% set defaultLists = {
    baths: [
        "Any",
        "1+",
        "2+",
        "3+",
        "4+",
        "5+",
    ],

    beds: [
        "Studio+",
        "1+",
        "2+",
        "3+",
        "4+",
    ]
} %}

{% set useList = list|default(false) ? list : (defaultList ? defaultLists[defaultList] : []) %}

<div class="radio-row {{ wrapMod|default('') }}">
    {% for item in useList|cast_to_array %}
        {% set checkedAttr = firstNotChecked|default(false) ? '' : (loop.index0 ? '' : 'checked') %}
        {% set value = item.value|default(false) ? item.value : (loop.index0 ? item : '') %}
        {% set text = item.text|default(false) ? item.text : item %}

        <div class="radio-row__item">
            <input
                    class="radio-row__input"
                    type="radio"
                    name="{{ name }}"
                    value="{{ value }}"
                    {{ checkedAttr }}
            >
            <div class="radio-row__indicator"></div>
            <div class="radio-row__text {{ textMod|default('small-text_bold') }}">{{ text }}</div>
        </div>
    {% endfor %}
</div>