<div class="controls-bar">
    {% for item in controlsArray %}
        {% set dataLabel = item.dataLabel|default(false) ? "data-label=" ~ dataLabel %}
        {% set dataPopupAttribute = item.dataPopup|default(false) ? "data-popup=" ~ item.dataPopup|json_encode() %}
        {% set html_tag = item.href|default(false) ? 'a' :'div' %}
        {% set href = item.href|default(false) ? "href=" ~ item.href %}

        <{{html_tag}}
            class="controls-bar__item {{ item.mod|default('') }}"
            {{ dataLabel }}
            {{ dataPopupAttribute }}
            {{ href }}
        >
            {% if item.text|default(false) %}
                <div class="controls-bar__text">
                    {{ item.text }}
                </div>
            {% endif %}
        </{{html_tag}}>
    {% endfor %}
</div>
