{% set defaultSliderParameters = {
    lazyLoad: 'ondemand',
} %}

{% set estateCardFavouriteMod = favourite|default(false) ? 'icon-heart' : 'icon-heart-bordered' %}

<div class="estate-card">
    <div class="estate-card__slider-wrap js-wrap">
        <div class="estate-cards-slider js-default-slider" data-slider-parameters="{{ defaultSliderParameters|json_encode }}">
            {% for img in images %}
                <div class="estate-cards-slider__item">
                    <img class="estate-cards-slider__img of" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazy="{{ img }}" />
                </div>
            {% endfor %}
        </div>

        <div class="estate-card__labels-wrap">
            {% if isNew|default(false) %}
                <span class="estate-card__label schild">NEW</span>
            {% endif %}

            {% if ownershipType|default(false) %}
                <span class="estate-card__label schild">for sale by owner</span>
            {% endif %}
        </div>

        <div class="estate-card__controls-wrap js-slider-nav">
            {% if financials.listingPrice|default(false) %}
                <span class="estate-card__price body-text">{{ financials.listingPrice|format_currency('CAD', {fraction_digit: 0}) }}</span>
            {% endif %}

            <a class="estate-card__btn estate-card__btn_space-right {{ estateCardFavouriteMod }}" href="#"></a>
            <span class="estate-card__btn estate-card__btn_bordered icon-angle-left js-arrow-left"></span>
            <span class="estate-card__btn estate-card__btn_bordered icon-angle-right js-arrow-right"></span>

        </div>
    </div>

    <div class="estate-card__description pt30 pb40">
        {% if address.streetAddress|default(false) and address.city|default(false) %}
            <h5 class="estate-card__title h5 mb10">
                {{ address.streetAddress ~ ', ' ~  address.city }}
            </h5>
        {% endif %}

        {% if metrics|default(false) %}
            <div class="estate-card__metrics-wrap mb20">
                {% include 'layouts/modules/metrics.html.twig' with {
                    metrics: metrics,
                    outputProps: ['bedRooms','bathRooms','sqrtFootage'],
                    wrapMod: '_simple',
                    itemMod: '',
                    valMod: 'h6',
                    labelMod: 'h6',
                } %}
            </div>
        {% endif %}

        <div class="estate-card__table tiny-text">
            <div class="estate-card__col estate-card__col_left">
                {# TODO type (Apartment/Condo) #}
                {% if metrics.type|default(false) %}
                    <span class="estate-card__text">{{ metrics.type }}</span>
                {% endif %}

                {% if metrics.yearBuilt|default(false) %}
                    <span class="estate-card__text">{{ 'Year Built ' ~ metrics.yearBuilt }}</span>
                {% endif %}

                {% if financials.grossTaxes|default(false) %}
                    <span class="estate-card__text">{{ 'Maint. Fee ' ~ financials.grossTaxes }}</span>
                {% endif %}
            </div>

            <div class="estate-card__col estate-card__col_right">
                {% if company|default(false) %}
                    <span class="estate-card__text">{{ company }}</span>
                {% endif %}

                {% if mlsNumber|default(false) %}
                    <span class="estate-card__text icon-mls-min">{{ 'MLS® ' ~ mlsNumber }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
