{% set defaultSliderParameters = {
    lazyLoad: 'ondemand',
    dots: true
} %}

{% set estateCardFavouriteMod = favourite|default(false) ? 'icon-heart' : 'icon-heart-bordered' %}

<div class="estate-card">
    <div class="estate-card__slider-wrap js-wrap">
        <div class="estate-cards-slider js-default-slider" data-slider-parameters="{{ defaultSliderParameters|json_encode }}">
            {% for img in images %}
                <div class="estate-cards-slider__item">
                    <img class="estate-cards-slider__img of" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazy="{{ img }}" />
                </div>
            {% endfor %}
        </div>

        <div class="estate-card__header">
            <div class="estate-card__labels-wrap">
                {% if isNew|default(false) %}
                    <span class="estate-card__label schild">NEW</span>
                {% endif %}

                {# TODO: for sale by owner #}
                {% if forSaleByOwner|default(false) %}
                    <span class="estate-card__label schild">for sale by owner</span>
                {% endif %}
            </div>

            <a class="estate-card__btn estate-card__btn_space-right {{ estateCardFavouriteMod }}" href="#"></a>
        </div>

        <div class="estate-card__controls-wrap js-slider-nav">
            <span class="estate-card__arrow icon-angle-left js-arrow-left"></span>
            <span class="estate-card__arrow icon-angle-right js-arrow-right"></span>
        </div>
    </div>

    <div class="estate-card__description pt30 pb30">
        {% if financials.listingPrice|default(false) %}
            <span class="estate-card__title subtitle mb10">{{ financials.listingPrice|format_currency('CAD', {fraction_digit: 0}) }}</span>
        {% endif %}

        {% if address.streetAddress|default(false) and address.city|default(false) %}
            <h5 class="estate-card__location h5 mb10">
                {{ address.streetAddress ~ ', ' ~  address.city }}
            </h5>
        {% endif %}

        {% if metrics|default(false) %}
            <div class="estate-card__metrics-wrap mb20">
                {% include 'layouts/modules/metrics.html.twig' with {
                    metrics: metrics,
                    outputProps: ['bedRooms','bathRooms','sqrtFootage'],
                    wrapMod: '_simple',
                    itemMod: '',
                    valMod: 'h6',
                    labelMod: 'h6',
                } %}
            </div>
        {% endif %}

        {% if mlsNumber|default(false) %}
            <span class="estate-card__text icon-mls-min tiny-text">{{ 'MLS® ' ~ mlsNumber }}</span>
        {% endif %}
    </div>
</div>
