{% set defaultSlideMenuList = [
    {
        text: 'Highlights',
        dataVal: 'all'
    },
    {
        text: 'Restaurants',
        dataVal: 'restaurants'
    },
    {
        text: 'Groceries',
        dataVal: 'groceries'
    },
    {
        text: 'Nightlife',
        dataVal: 'nightlife'
    },
    {
        text: 'Cafes',
        dataVal: 'cafes'
    },
    {
        text: 'Shopping',
        dataVal: 'shopping'
    },
    {
        text: 'Arts & Entertainment',
        dataVal: 'arts'
    },
] %}

<div class="slide-menu {{ wrapMod|default('') }} js-slide-menu-wrap">
    <div class="slide-menu__overflow-wrap">
        <div class="slide-menu__list js-slide-menu">
            {% for item in list|default(defaultSlideMenuList) %}
                {% set slideMenuDataVal = item.dataVal|default(false) ? 'data-val=' ~ item.dataVal %}
                {% set slideMenuDataContentId = item.contentId|default(false) ? 'data-content-id=' ~ item.contentId %}

                <div class="slide-menu__item js-slide-menu-item">
                    <div
                        class="slide-menu__link button1 {{ item.linkMod|default('') }}
                        {{ firstActive|default(false) ? (loop.index0 ?: '_active') }}"
                        {{ slideMenuDataVal }}
                        {{ slideMenuDataContentId }}
                    >
                        {{ item.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="slide-menu__button circle-button _bordered icon-angle-right js-slide-menu-button"></div>
</div>
