{% set dataFormatProps = dataFormatProps|default(false) ? "data-format-props=" ~ dataFormatProps|json_encode() %}

<div class="input-style {{ wrapMod|default('') }}">
    <div class="input-style__container">
        <input
            class="input-style__input {{ inputMod|default('') }}"
            type="text" name="{{ name }}"
            placeholder="{{ placeholder }}"
            value="{{ value|default('') }}"
            {{ dataFormatProps }}
        />
    </div>
</div>