{% set wrap_mod = wrapMod|default(false) ? ' ' ~ wrapMod : '' %}
{% set input_mod = inputMod|default(false) ? ' ' ~ inputMod : '' %}
{% set select_mod = selectMod|default(false) ? ' ' ~ selectMod : '' %}

<div class="select-module{{ wrap_mod }} js-select-module js-bcc">
    <select class="select-module__select{{ select_mod }} pseudo-hidden js-select-module-select" name="{{ name }}">
        {% if initialEmpty|default(false) %}
            <option value="" disabled selected></option>
        {% endif %}

        {% for option in options|cast_to_array %}
            {% set selectedAttr = initialEmpty|default(false) ? '' : (loop.index0 ? '' : 'selected=selected') %}
            {% set value = option.value|default(false) ? option.value : (loop.index0 ? option : '') %}
            {% set text = option.text|default(false) ? option.text : option %}
            {% set formatText = formatBigPrice|default(false) and loop.index0 ?
                'CA$' ~ (text >= 1000000 ? text/1000000 ~ 'm' : text/1000 ~ 'k') :
                text
            %}

            <option value="{{ value }}" {{ selectedAttr }}>{{ formatText }}</option>
        {% endfor %}
    </select>

    <div class="select-module__input-container{{ input_mod }} js-select-module-container">
        <span class="select-module__text-block js-select-module-text-block {{ textMod|default('button2') }}">
            {% if initialEmpty|default(false) %}
                {{ placeholder|default('') }}
            {% endif %}
        </span>
    </div>

    <div class="select-module__dropdown js-select-dropdown" data-name="{{ name }}">
        <div class="select-module__scroll js-select-module-scrollbar js-select-module-options">
        </div>
    </div>
</div>