{% set mapTableMenu = [
    {
        text: 'Map',
        linkMod: 'js-map-layer-option',
        dataVal: 'listings',
    },
    {
        text: 'Schools',
        linkMod: 'js-map-layer-option',
        dataVal: 'schools',
    },
    {
        text: 'Crime',
        linkMod: 'js-map-layer-option',
        dataVal: 'crime',
    },
    {
        text: 'Commute',
        linkMod: 'js-map-layer-option',
        dataVal: 'commute',
    },
    {
        text: 'Shop & Eat',
        linkMod: 'js-map-layer-option',
        dataVal: 'yelp',
    },
] %}

{% extends 'base-clear.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block title %}Hello MapListingsController!{% endblock %}

{% block body %}
    {{ dump() }}
    <div class="map-section pt40 map-interface-wrap js-map-interface-wrap">
        <div class="map-section__title-wrap mb20">
            <h4 class="map-section__title h4">1,504 Vancouver, BC Real Estate for Sale</h4>
        </div>

        <div class="map-section__table">
            <div class="map-section__col map-section__col_left js-estate-cards-wrap">
                <form class="map-section__form js-ajax-form">
                    <div class="map-section__filter-wrap mb20">
                        {% include 'layouts/form/price-select.html.twig' with {
                            wrapMod: '_btn-style _popup-stick-to-left _selected-highlight',
                            pricesArrayFrom: searchFormObject.priceFrom,
                            pricesArrayTo: searchFormObject.priceTo,
                        } %}

                        {% include 'layouts/form/radio-row-select.html.twig' with {
                            name: 'beds',
                            wrapMod: '_btn-style _popup-stick-to-left _selected-highlight',
                            placeholder: 'Beds',
                            list: searchFormObject.beds,
                        } %}

                        {% include 'layouts/form/checkbox-list-select.html.twig' with {
                            wrapMod: '_btn-style _popup-stick-to-left _selected-highlight',
                            placeholder: 'All Home Types',
                            list: searchFormObject.type,
                        } %}

                        {% embed 'layouts/containers/dropdown-button.html.twig' with {
                            placeholder: 'More',
                            wrapMod: '_btn-style _popup-stick-to-left _selected-highlight',
                            scrollMod: 'js-max-height',
                            scroll: true,
                            dataProps: {
                                patternFixed: 'More',
                            },
                            searchFormObject,
                        } only %}
                            {% block dropdown_content %}
                                {% include 'layouts/form/filter-more.html.twig' with searchFormObject only %}
                            {% endblock %}
                        {% endembed %}

                        {% include 'layouts/controls/button.html.twig' with {
                            'text': 'Save Search',
                            'mod': '_bordered-gray js-save-map-filter',
                            button: true,
                        } only %}
                    </div>

                    <div class="map-section__sort-wrap mb20">
                        <div class="homes-available small-text">
                            <span class="homes-available__val js-homes-available">-</span>
                            <span class="homes-available__suffix">homes available</span>
                        </div>

                        <div class="sort">
                            <span class="sort__label small-text">Sort:</span>
                            {% include 'layouts/form/select.html.twig' with {
                                'name': 'map-sort',
                                'wrapMod': '_thin-text',
                                'inputMod': '_inline',
                                'textMod': 'small-text',
                                'options': [
                                    {
                                        'value': 'new',
                                        'text': 'New Listings',
                                    },
                                    {
                                        'value': 'prop2',
                                        'text': 'prop2',
                                    },
                                    {
                                        'value': 'prop3',
                                        'text': 'prop3',
                                    },
                                ]
                            } only %}
                        </div>
                    </div>
                </form>


                <div class="map-section__cards-container">
                    <div class="map-section__cards-wrap">
                            <div class="map-section__cards-scroll-wrap js-cards-scroll-wrap js-simple-scroll" data-trigger-on-scroll="trigger:check-sliders">
                            <div class="estate-content">
                                <div class="estate-cards-list js-estate-cards-list"></div>
                                <div class="estate-cards-pagination js-estate-cards-pagination mt40"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {#            {% include 'layouts/common/spinner.html.twig' %}#}
                {#            <div class="map-section__scroll-wrap js-cards-scroll-wrap js-smooth-scroll" data-trigger-on-scroll="trigger:check-sliders">#}
                {#                <div class="estate-content">#}
                {#                    <div class="estate-cards-list js-estate-cards-list"> </div>#}
                {#                    <div class="estate-cards-pagination js-estate-cards-pagination"></div>#}
                {#                </div>#}
                {#            </div>#}


            </div>
            <div class="map-section__col map-section__col_right pb30">
                <div class="map-section__nav-wrap mb20">
                    {% include 'layouts/modules/slide-menu.html.twig' with {
                        list: mapTableMenu,
                        firstActive: true,
                    } only %}
                </div>

                <div class="map-section__map-container">
                    <div class="map-section__map-wrap">
                        <div class="map-container js-map-container">
                            {% include 'layouts/common/spinner.html.twig' %}

                            <div class="map" id="estate-map" data-params={{
                                {
                                    path: "/listing/search",
                                    schoolsPath: "/school/search",
                                    center: [49.20984,-122.87793],
                                    zoom: 13,
                                    minZoom: 10,
                                    refreshMarkers: true,
                                    refreshYelp: true,
                                    cardsPerPage: 48,
                                    maxMarkersCount: 480,
                                    refreshLayers: ['listings'],
                                    preventClear: ['listings']
                                }|json_encode
                            }}></div>
                        </div>
                    </div>
                </div>

{#                            <div class="map-container js-map-container">#}
{#

{#                                <div class="map-controls">#}
{#                                    <div class="map-draw-bar">#}
{#                                        <div class="map-draw-bar__label">Draw a shape around the region(s) you would like to live in</div>#}
{#                                        <div class="map-draw-bar__btn js-draw-cancel">Cancel</div>#}
{#                                        <div class="map-draw-bar__btn js-draw-apply">Apply</div>#}
{#                                    </div>#}
{#                                    <div class="map-buttons-bar">#}
{#                                        {% include 'layouts/controls/button.html.twig' with {#}
{#                                            'dataPopup' : {'target': 'map'},#}
{#                                            'mod': 'js-call-popup',#}
{#                                            'text': 'show-popup-map',#}
{#                                        } %}#}

{#                                        <div class="select-module js-select-module js-bcc">#}
{#                                             <select class="select-module__select js-yelp-select pseudo-hidden js-select-module-select"#}
{#                                                    name="yelp" data-title="Yelp">#}
{#                                                <option disabled="disabled" selected="selected" value=""></option>#}
{#                                                <option value="banks">Banks</option>#}
{#                                                <option value="coffee">Coffee &amp; Tea</option>#}
{#                                                <option value="servicestations">Gas Stations</option>#}
{#                                                <option value="grocery">Grocery Stores</option>#}
{#                                                <option value="hospitals">Hospitals</option>#}
{#                                                <option value="parks">Parks</option>#}
{#                                                <option value="restaurants">Restaurants and Bars</option>#}
{#                                                <option value="shopping">Shopping</option>#}
{#                                            </select>#}
{#                                            <div class="select-module__input-container js-select-module-container">#}
{#                                                <span class="select-module__text-block js-select-module-text-block"></span>#}
{#                                            </div>#}
{#                                            <div class="select-module__dropdown">#}
{#                                                <div class="select-module__scroll js-select-module-scrollbar js-select-module-options">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <span class="select-module__label p5">Yelp</span>#}
{#                                        </div>#}
{#                                        <div class="btn-style schools-button js-map-show-schools">#}
{#                                                <span class="btn-style__wrapper">#}
{#                                                    <span class="btn-style__label b2">schools</span>#}
{#                                                </span>#}
{#                                        </div>#}
{#                                        <div class="btn-style draw-button js-map-draw">#}
{#                                                <span class="btn-style__wrapper">#}
{#                                                    <span class="btn-style__label b2">draw</span>#}
{#                                                </span>#}
{#                                        </div>#}
{#                                        <div class="btn-style edit-boundary-button js-draw-edit">#}
{#                                                <span class="btn-style__wrapper">#}
{#                                                    <span class="btn-style__label b2">Edit Boundary</span>#}
{#                                                </span>#}
{#                                        </div>#}
{#                                        <div class="btn-style remove-boundary-button js-draw-cancel">#}
{#                                                <span class="btn-style__wrapper">#}
{#                                                    <span class="btn-style__label b2">Remove Boundary</span>#}
{#                                                </span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="map" id="estate-map" data-params='{#}
{#                                    "path":"/listing/search",#}
{#                                    "center":[49.20984,-122.87793],#}
{#                                    "zoom":13,#}
{#                                    "minZoom":10,#}
{#                                    "refreshMarkers":true,#}
{#                                    "refreshYelp":true,#}
{#                                    "yelpPreloader":true,#}
{#                                    "cardsPreloader":true,#}
{#                                    "cardsPerPage":48,#}
{#                                    "maxMarkersCount":480#}
{#                                }'></div>#}
{#                            </div>#}
            </div>
        </div>
        </div>

    {% include 'layouts/popups/map-popup.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}