{% extends 'base.html.twig' %}

{% block title %}Hello MapListingsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #map {
        height: 100%;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/mount/space-1/.user/domains/estateblock20/src/Controller/MapListingsController.php'|file_link(0) }}">src/Controller/MapListingsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/mount/space-1/.user/domains/estateblock20/templates/map_listings/index.html.twig'|file_link(0) }}">templates/map_listings/index.html.twig</a></code></li>
    </ul>
</div>
    <div id="map" data-path="/listing/search"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&callback=initMap">
    </script>
{% endblock %}