{% extends 'base.html.twig' %}

{% block title %}Hello ListingListController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper table, .example-wrapper table td { border: solid 1px}
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="example-wrapper">
        {% if listingList.results is empty %}
            <h2>No listings found!</h2>
        {% else %}
            <table>
                <thead style="background-color: gold">
                <tr>
                    <td>Mls Num</td>
                    <td>Feed listing id</td>
                    <td>Feed name</td>
                    <td>Listing price</td>
                    <td>Postal code</td>
                    <td>Photos count</td>
                    <td>City</td>
                    <td>Address</td>
                </tr>
                </thead>
                <tbody>
                {% for listing in listingList.results %}
                    <tr>
                        <td><a href="/listing/{{ listing.stateOrProvince }}/{{ listing.mlsNum }}-{{ listing.feedID }}">{{ listing.mlsNum }}</a></td>
                        <td>{{ listing.feedListingID }}</td>
                        <td>{{ listing.feedID }}</td>
                        <td>{{ listing.listPrice }}</td>
                        <td>{{ listing.postalCode }}</td>
                        <td>{{ listing.photosCount }}</td>
                        <td>{{ listing.city }}</td>
                        <td>{{ listing.unparsedAddress }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% if listingList.pagesCount > 1 %}
        <div class="example-wrapper">
            <h2>Pagination</h2>
            <div>
                {% for page in 1..listingList.pagesCount %}
                    {% if page != listingList.currentPage %}
                        <a href="/listing/list/{{ page }}">{{ page }}</a>
                    {% else %}
                        <a>{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        <div id="map" data-path="{{ ajaxPath }}{{ listingList.currentPage }}"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&callback=initMap">
    </script>
{% endblock %}