{% extends 'admin/base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}

    {% embed 'admin/layouts/top-panel.html.twig' %}{% endembed %}
    {% embed 'admin/layouts/left-panel.html.twig' %}{% endembed %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Responsive Hover Table</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Slug</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for static_page in static_pages %}
                                <tr>
                                    <td>{{ static_page.id }}</td>
                                    <td>{{ static_page.title }}</td>
                                    <td>{{ static_page.slug }}</td>
                                    <td>{{ static_page.type }}</td>
                                    <td>{{ static_page.status ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <a href="{{ path('page_show', {'id': static_page.id}) }}">show</a>
                                        <a href="{{ path('page_edit', {'id': static_page.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('page_new') }}">Create new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
